h1 {
	padding: 0 20px;
	font-size: 50px;
	letter-spacing: 2px;
	font-family: 'Arimo', sans-serif;
	font-weight: bold;
	text-align: center;
	color: rgb(255, 255, 255); /* Цвет текста */
}

h3 {
	padding: 0 20px;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: 'Arimo', sans-serif;
	font-weight: bold;
	text-align: center;
	color: rgb(255, 255, 255); /* Цвет текста */
}

.photo {
	padding: 0 20px;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: 'Arimo', sans-serif;
	font-weight: bold;
	text-align: center;
	color: rgb(255, 255, 255); /* Цвет текста */
} 

.Upload {
	padding: 0 20px;
	font-size: 18px;
	font-family: 'Arimo', sans-serif;
	text-align: center;
}

.Delete {
	padding: 0 20px;
	font-size: 18px;
	font-family: 'Arimo', sans-serif;
	text-align: center;
}

.Open {
	padding: 0 20px;
	font-size: 18px;
	font-family: 'Arimo', sans-serif;
	text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Arimo');
	.top-menu {
		position: relative;
		background: rgba(34,34,34,.2);
	}

	.menu-main {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.menu-main:after {
		content: "";
		display: table;
		clear: both;
	}

	.left-item {
		float: left;
	}

	.right-item {
		float: right;
	}

	.navbar-logo {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}

	.menu-main a {
		text-decoration: none;
		display: block;
		line-height: 80px;
		padding: 0 20px;
		font-size: 18px;
		letter-spacing: 2px;
		font-family: 'Arimo', sans-serif;
		font-weight: bold;
		color: white;
		transition: .3s linear;
	}

	.menu-main a:hover {
		background: rgba(0,0,0,.3);
	}

@media (max-width: 830px) {
	.menu-main {
		padding-top: 90px;
		text-align: center;
	}

	.navbar-logo {
		position: absolute;
		left: 50%;
		top: 10px;
		transform: translateX(-50%);
	}

	.menu-main li {
		float: none;
		display: inline-block;
	}

	.menu-main a {
		line-height: normal;
		padding: 20px 15px;
		font-size: 16px;
	}
}
@media (max-width: 630px) {
	.menu-main li {
		display: block;
	}
}