body {
    background-color: #0c2020
}

.center-pic {
    text-align:center;
}

.center-pic-error {
    text-align:center;
}

.td {
    border: 1px solid grey;
}

.reg {
    width: 20%;
    border: none;
    background-color: #352c39;
    padding: 14px 28px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}

h1 {
    text-align: center;
    background: #3e1f53; /* Цвет фона под заголовком */
    color: rgba(206, 223, 245, 0.356); /* Цвет текста */
    padding: 5px; /*Поля вокруг текста */
}

h2 {
    text-align: center;
    background: #3e1f53; /* Цвет фона под заголовком */
    color: rgba(206, 223, 245, 0.356); /* Цвет текста */
    padding: 5px; /*Поля вокруг текста */
}

h3 {
    padding: 0 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255); /* Цвет текста */
}

/* стиль формы */
*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: #22064e;
    transition: 0.5s ease;
}

a:hover {
    color: #22064e;
}

.form {
    background: rgba(12, 19, 24, 0.9);
    padding: 60px;
    max-width: 500px;
    margin: 60px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 17px;
    background: rgba(63, 72, 80, 0.25);
    color: #a0b3b0;
    font-size: 25px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.tab-group li a:hover {
    background: #271e36;
    color: #fff;
}

.tab-group .active a {
    background: #271e36;
    color: #fff;
}

.tab-content > div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin: 0 0 40px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, .5);
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 22px;
}

label .req {
    margin: 4px;
    color:#57565a;
}

label.active {
    transform: translateY(0px);
    left: 2px;
    font-size: 0px;
}

label.active .req {
    opacity: 0;
}

label.highlight {
    color: #fff;
}

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #352c39;
    color: #fff;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

input:focus, textarea:focus {
    outline: 0;
    border-color:#d6c6e9;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 20px;
}

.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row > div:last-child {
    margin: 0;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #271e36;
    color: #fff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus {
    background: #271e36;
}

.button-block {
    display: block;
    width: 100%;
}